.NFT-container-wrapper {
  /* width: 100vw;  */
  /* max-width: 100vw; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  }
   
  .metabnb-text-wrapper-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 415px;
  }
  .metabnb-heading_wrapper {
    width: 346px;
  }
   
  #metabnb-heading {
    font-weight: bolder;
    font-size: 48px;
    line-height: 60px;
    color: white;
  }
   
  .metabnb-message_container {
    width: 415px;
  }
   
  #metabnb-message {
    font-family: "Red Rose";
    font-weight: 700;
    font-size: 20px;
    color: white;
    line-height: 35px;
  }
   
  #learnmore__btn {
    padding: 0.75rem;
    width: 139px;
    border: #ffffff 1px solid;
    border-radius: 8px;
    background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
    color: #a02279;
    font-size: 14px;
    cursor: pointer;
  }
   
  .metabnb-images-container_wrapper {
    width: 704px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 574.85px;
  }
  .metabnb--img {
    width: 80%;
  }
   
  @media screen and (max-width: 920px) {
    .NFT-container-wrapper {
      padding: 2rem;
    }
    .metabnb-text-wrapper-container {
      width: 40%;
    }
    #metabnb-heading {
      font-size: 2.5rem;
      width: 100%;
    }
    #metabnb-message {
      font-weight: 400;
      width: 100%;
    }
    .metabnb--img {
      width: 100%;
    }
  }
  @media screen and (max-width: 650px) {
    .NFT-container-wrapper {
      flex-direction: column;
    }
    .metabnb-text-wrapper-container {
      width: 100%;
    }
    .metabnb-images-container_wrapper {
      padding: 1rem;
    }
    .metabnb-images-container_wrapper,
    .metabnb--img {
      width: 100%;
      height: 100%;
    }
  }
   
  
  