.Place-content-wrapper{
    width: 80%;
    padding: 8%;
}


.heading-grid-wrapper{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
/* gap: 48px; */
width: 850px;
/* left: 7.94%;
right: 29.1%;
top: 32.51%;
bottom: 89.49%; */

}

.head-links-wrapper{
    display: flex;
flex-direction: row;
align-items: center;
padding: 15px;
gap: 19px;
justify-content: center;
/* left: 6.94%;
right: 29.1%;
top: 9.51%;
bottom: 89.49%; */

}

.head-links-wrapper a{
    width: 100px;
height: 25px;
text-decoration: none;
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
/* identical to box height */


/* text black */

color: #434343;

}

.location-place-grid_wrapper{
    display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
    /* width: 1240px;
    height: 1560px; */
    left: 75px;
    top: 318px;
}


.place-image-column_wrapper{
    box-sizing: border-box;
    /* position: absolute; */
    width: 285px;
    height: 372px;
    left: 0px;
    top: 0px;
    
    
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    cursor: pointer;
}

.place-image-column_wrapper :hover{
    transition: all .4s ease-in-out;
 
}

.tag-input-wrapper{
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    height: 48px;
    width: 161px;   
/* left: 117.5%;
right: 11.32%;
top: 8.99%;
bottom: 88.92%; */

/* White lin */

background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
border: 1px solid #B4B4B4;
border-radius: 8px;
flex-wrap: nowrap;
    justify-content: space-between;
cursor: pointer;
}
#tag-input-paragraph{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 4px;
    text-align: center;
    width: 68px;
height: 20px;
left: calc(50% - 68px/2 - 33.5px);
top: calc(50% - 20px/2);
    color: #333333;
    padding-left: 5%;

}

.tag-input-wrapper img{
width: 24px;
height: 24px;
padding: 6%;
}

/* .tagInput ::placeholder{
    position: absolute;
width: 68px;
height: 20px;
left: calc(50% - 68px/2 - 33.5px);
top: calc(50% - 20px/2);
    font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

text-align: center;

color: #333333;

} */



.place-image-wrapper{
    width: 260px;
    height: 265px;
    padding: 11px;
    top: 16px;
}
#location-price{
    font-weight: bolder;
}


.footer-place-wrapper{
    top: 1970px;
}
