.Place-content-wrapper {
    width: 100vw;
    max-width: 100vw;
    padding: 4rem 6.25rem;
  }
   
  .heading-grid-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 850px;
   
  }
   
  .head-links-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    gap: 19px;
    justify-content: center;
   
  }
   
  .head-links-wrapper a {
    width: 100px;
    height: 25px;
    text-decoration: none;
     font-size: 20px;
    line-height: 25px;
    color: #434343;
  }
   
  .tag-input-wrapper{
      display: flex;
      align-items: center;
      padding: .5rem ;
      gap: 0.5rem;
     
  }
  @media screen and (max-width:1200px){
      .Place-content-wrapper{
          padding: 2rem;
      }
  }
  