.popup-backdrop {
    right: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
    z-index: 2;
    /* padding: 4rem; */
  }
   
  .popup_icon{
    width: 45px;
    height: 45px;
    padding-block-start: 1rem;
    padding-inline-start: 1rem;

  }
   
  .popup-navigation-menu {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
   
  .popup-navigation-menu > a {
    text-decoration: none;
    color: #000;
    font-size: 25px;
    line-height: 30px;
   
  }
   
  
  