.Metamask-container_wrapper {
    width: 100vw;
    padding: 2rem 6.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  .inspiration {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
  }
   
  .location-inspiration-grid_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    width: 100%;
    align-items: center;
    place-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
   
  .image-column_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 285px;
    height: 372px;
    background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
    border: 1px solid #d7d7d7;
    border-radius: 15px;
    transition: all 0.4s linear;
    cursor: pointer;
  }
   
  .image-wrapper {
    width: 260px;
    height: 265px;
    padding: 11px;
  }
   
  .image-column-text-wrapper {
    width: 262px;
    height: 40px;
    padding: 11px;
    display: flex;
  }
   
  .image-colum-text-name_grid {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
   
  .image-colum-text-name_grid p {
    font-size: 12px;
    line-height: 8px;
    color: #434343;
  }
   
  .image-column-text-price-grid {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
   
  .image-column-text-price-grid p {
    font-size: 12px;
    line-height: 8px;
    color: #434343;
  }
   
  .starratings {
    gap: 8px;
    display: flex;
    line-height: 8px;
  }
   
  .starratings img {
    padding: 2px;
  }
   
  
  