@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
 
*{
    font-family: 'Red Rose', cursive;    
}
 
.navbar {
  width: 100vw;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;}
 
.hamburger {
  display: none;
}
 
.navigation-menu {
  display: flex;
  gap: 3rem;
  align-items: center;
}
 
.navigation-menu a {
  text-decoration: none;
  color: #434343;
  font-size: 18px;
}
 
@media only screen and (min-width: 0px) and (max-width: 921px) {
  .navbar {
    align-items: center;
    display: flex;
    padding: 2rem 1rem;
    justify-content: space-between;
    position: relative;
    /* width: 90%; */
  }
 
  .navigation-menu {
    display: none;
  }
 
  .logo-image_container {
    padding-left: 0%;
    padding-top: 12px;
  }
 
  .hamburger {
    display: block;
    border: none;
    background-color: transparent;
    padding-top: 12px;
  }
 
  .hamburger hr {
    border: 1px solid #000;
    background-color: #000;
    width: 27px;
    height: 1px;
  }
 
  .avatar button {
    position: absolute;
    width: fit-content;
    height: fit-content;
 
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    background: none;
    border: none;
    border-radius: 0;
    color: #000;
 
    cursor: pointer;
    text-decoration: none;
  }
 
  .avatar {
    font-family: "Red rose";
    font-size: 18px;
    font-weight: 400;
    width: 150px;
    height: 50px;
    font-family: "Red Rose";
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    margin-left: -45px;
  }
}
 

