.footer-container_wrapper{
    bottom: 0;
    left:0;
    width: 100%;
    background-color: #000;
    height: 322px;


}

.footer-logo-column-wrapper{
    align-items: center;
    margin-left: -200px;
}



.footer-content-grid-wrapper{
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 80px;
   
}


.footer-grid-container_wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
justify-content: center;
align-items: center;
padding: 0px;
gap: 20%;
/* gap: 217px; */

width: 698px;
height: 169px;
/* left: 533px; */
top: 63px;

}

.footer-column-container{
    width: 101px;
    height: 169px;
    align-items: center;

}

.footer-heading-wrapper{
    font-family: 'Red Rose';
font-style: normal;
font-weight: 700;
font-size: 20px;

/* white */

color: #FFFFFF;

}



#footer-column-container_text{
    
    
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    /* or 250% */
    
    display: flex;
    /* align-items: center; */
    
    color: #F1F3F9;
    text-decoration: none; 
}



.footer-social-links a{
    text-decoration: none;
    padding: 7px;
}

.footer-social-links{
    padding: 50px 0;
}



.copyright-wrapper p{
    font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;

color: #F7F7F7;
}


@media only screen and (min-width:280px) and (max-width: 541px) {
    .footer-container_wrapper {
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #000;
        height: fit-content;
    }

    .footer-content-grid-wrapper {
        display: grid;
        grid-template-columns: auto;
        padding-top: 70px;
    }

    .footer-logo-column-wrapper {
        align-items: center;
        margin-left: 0;
    }

    .footer-social-links {
        padding: 13px 0;
    }

    /* .footer-container {
        left: 11.85%;
        right: 75.97%;
        top: 7.01%;
        bottom: 69.57%;
    } */

    /* .footer-social-links {
        position: absolute;
        top: 17.25%;
        left: 26.19%;

        
    } */

    /* .footer-links {
        position: relative;
        right: 68.25%;
        top: 6.63%;
    } */

    
    .footer-grid-container_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 35px;
        max-width: 85vw;
        height: fit-content;
        left: 0%;
        width: 100%;
    }

    .footer-column-container a{
        text-align: center;
    }

}




