.footer-content-grid-wrapper {
    padding: 1rem 6.25rem;
    width: 100vw;
    max-width: 100vw;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  .footer-grid-container_wrapper {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
  }
   
  .footer-column-container {
    width: 101px;
    height: 169px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   
  .footer-heading-wrapper {
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
  }
   
  #footer-column-container_text {
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    display: flex;
    color: #f1f3f9;
    text-decoration: none;
  }
   
  .footer-social-links a {
    text-decoration: none;
    padding: 7px;
  }
   
  .footer-social-links {
    padding: 50px 0;
  }
   
  .copyright-wrapper p {
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #f7f7f7;
  }
   
  @media only screen and (max-width: 1000px) {
    .footer-content-grid-wrapper {
      padding: 2rem;
    }
   
    .footer-logo-column-wrapper {
      align-items: center;
     
    }
   
    .footer-social-links {
      padding: 13px 0;
    }
   
    .footer-grid-container_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
   
      gap: 35px;
      max-width: 85vw;
      width: 100%;
    }
   
    .footer-column-container a {
      text-align: center;
    }
  }
  @media screen and (max-width: 720px) {
    .footer-content-grid-wrapper {
      flex-direction: column;
      gap: 2rem;
    }
    .footer-logo-column-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
   
  
  