.Product-column_wrapper {
    display: flex;
    width: 100vw;
    max-width: 100vw;
    padding: 0.5rem 6.25rem;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  }
  .column_child{
      display: flex;
      align-items: center;
      color: white;
    }
    .column_child>p{
      font-size: 1.5rem;
      font-weight: bold;
    }
  @media screen and (max-width:750px) {
      .Product-column_wrapper{
          padding: 0 2rem;
      }
      .column_child>img{
          height: 2rem;
      }
      .column_child>p{
          font-size: 1rem;
      }
  }
  @media screen and (max-width:430px) {
      .column_child>img{
          height: 1.2rem;
          width: 1.2rem;
      }
      .column_child>p{
          font-size: 0.8rem;
      }
  }
  
  